<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>

	<!-- Header -->
	<!--/*/ <th:block th:include="header :: head"></th:block> /*/-->

</head>

<body>

	<!-- Navigation -->
	<!--/*/ <th:block th:include="body :: body"></th:block> /*/-->

	<div class="wrap">
	
	<!-- Content Section -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					
		<h2 class="red">Ce site est exemple informatique, les données financières ne sont pas à jour !</h2>
	
		<h1>Avertissement légal</h1>
		
		<h2>1. Propriété intellectuelle</h2>
		
		<p>Il est interdit de publier, reproduire, ou rediffuser de quelques manière que ce soit tout ou partie du contenu
		 du site Internet spring-boot-opcvm-example, qu’il soit sous forme de rédactionnel, de graphique ou d’image, sans l’autorisation
		  expresse de la société spring-boot-opcvm-example.</p>

		<h2>2. Données d'spring-boot-opcvm-example et clauses de non-responsabilité</h2>
		
		<p>spring-boot-opcvm-example s'efforce d'assurer l'exactitude et la mise à jour des informations diffusées sur le Site, dont elle
		 se réserve le droit de corriger, à tout moment et sans préavis, le contenu. Elle ne peut cependant en garantir
		  l'exhaustivité ou l'absence de modification par un tiers (intrusion, virus). En outre, elle décline toute responsabilité
		   en cas d'erreur, d'inexactitude ou d'omission dans ces informations ainsi qu'en cas d'interruption ou de non
		  disponibilité du Site. </p>
		  
		<p>Les cours de bourse sont diffusés à titre informatif et grâcieux, en aucun cas l’éditeur, spring-boot-opcvm-example, ne pourrait
		 être tenu responsable d’éventuelles erreurs ou délais, et de toutes leurs conséquences directes et indirectes.</p>
		 
		<p>Nous ne vérifions pas les données qui nous sont transmises ni n'assumons l'obligation de procéder à une telle vérification.</p>
		 
		<p>Les données OPCVM sont collectées par spring-boot-opcvm-example auprès des établissements de gestion.
		 Les performances passées ne présagent pas des performances futures. Les informations sont présentées sur chaque page OPCVM
		  sans garantie d'exactitude ni d'exhaustivité.
		</p>
		
		La responsabilité de l'auteur du site spring-boot-opcvm-example, ne saurait être engagée en cas d'erreur ou d'omission. 
		Le lecteur est informé sur le fait qu'une déclaration publiée par l'AMF et susceptible de modification ou de
		 suppression sur le site de l'AMF, sans que la mise à jour ne soit effectuée sur spring-boot-opcvm-example.
		  Pour toute vérification d'information, veuillez consulter l'information communiquée par l'AMF à partir de
		   l'adresse suivante : <a href="http://www.amf-france.org">http://www.amf-france.org</a>
		
		<h2>3. Contraintes techniques</h2>
		<p>
		spring-boot-opcvm-example ne garantit pas que le Site soit accessible sans interruption. 
		Il pourra interrompre l'accès au Site pour des raisons de maintenance et en cas d'urgence notamment. 
		</p>
		
		<p>En conséquence, la responsabilité de spring-boot-opcvm-example ne peut être engagée en cas de difficultés de fonctionnement 
		ou interruption momentanée du Site indépendamment de la volonté de spring-boot-opcvm-example notamment en cas d'interruption 
		des services d'électricité ou de communications électroniques.</p>
		
		<h2>4. Contact</h2>

		<p>Pour toute question relative au site, il est possible de nous contacter par email sur alertesopcvm@gmail.com</p>
		<p></p>

		</div></div></div></section>
		
	</div>

	<!-- Footer -->
	<!--/*/ <th:block th:include="footer :: body"></th:block> /*/-->

</body>

</html>
