<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

	<!-- Header -->
	<!--/*/ <th:block th:include="header_login :: head"></th:block> /*/-->

</head>
<body>
	<div class="container">
		<div class="row">

			<div class="main">

				<h3>
					Changer de mot de passe
				</h3>
				<form th:action="@{/motdepasseoublie}"  th:object="${user}"  method="post">
					<div class="form-group">
						<label for="inputUsernameEmail">Email</label> 
						<input type="text" class="form-control" th:field="*{email}" />
					</div>
					<button type="submit" class="btn btn btn-primary">Connexion</button>
				</form>

			</div>

		</div>
	</div>
</body>
</html>
