<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head th:fragment="head">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Ajouter vos alertes personnalisées sur les OPCVM" />

<title>spring-boot-opcvm-example</title>

<link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />

<!-- CSS -->
<link href="//cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"	rel="stylesheet" media="screen" />
<link href="//cdn.jsdelivr.net/webjars/morrisjs/0.5.1/morris.css"	rel="stylesheet" media="screen" />
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.2/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen" />
<link href="/css/page.css" rel="stylesheet" />

</head>

<body>
</body>
</html>
